<html ng-app="phoneBook">
<head>
	<title>Phone Book</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <style>
            .jumbotron {
                width: 400px;
                text-align: center;
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
            }
            .table {
                margin-top: 20px;
            }
            .form-control {
                margin-bottom: 5px;
            }
        </style>
    <script>
        angular.module("phoneBook", []);
        angular.module("phoneBook").controller("phoneBookCtrl", function ($scope) {
            $scope.app = "Phone Book";
            $scope.contatos = [
                {nome: "Matheus", telefone: "999999999"},
                {nome: "Luiz", telefone: "999999999"},
                {nome: "Binotto", telefone: "999999999"}
            ];
        });
    </script>
</head>
<body ng-controller="phoneBookCtrl">
    <div class="jumbotron">
        <h3>{{app}}</h3>
        <table class="table table-striped">
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
            </tr>
            <tr ng-repeat="contato in contatos">
                <td ng-repeat="(key, value) in contato">
                    {{value}}
                </td>
            </tr>
        </table>
    </div>
</body>
</html>